body {
    background-image:url('..\\images\\praise god bg image.jpg');
    width: 100%;
  }

a.menu-link{
    font-size: 75px;
    color:orange;
}
h1.page-title{
    text-align:center;
    font-size:100px;
    color:yellow;
    text-decoration: underline;
    font-weight: bold;
}

copyright{
    color:red;
    font-size: 50px;
}
